.home-screen {
    background-color: transparent;

    background-image: url('../images/glassFrameFullBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150vh;
    width: auto;
  }

