.log-in-screen {
  background-color: transparent;
  background-image: url('../images/glassFrameFullBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  overflow: auto;
  width: 100%;
  /* z-index: 0; */
}

.log-in-screen .glass {
  background-color: #ffffff;
  /* background-image: url('../images/glassFrameFullBackground.png');
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  position: absolute;
  top: 400px;
  /* min-height: 100vh; */
  min-height: 100%;
  height: 140%;
  width: 100%;
  z-index: 0;
  /* overflow: auto;
  z-index: 0; */
}