.profile-page {
   background-color: transparent;
   background-image: url('../images/glassFrameFullBackground.png');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   min-height: 100vh;
   overflow: auto;
   z-index: 0;
}

.profile-page .nav-pad {
  padding-top: 90px;
  position: absolute;
  top: 0px;
}

.profile-page .profile {
  background-color: #ffffff;
  position: absolute;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: fit-content;
  width: 100%;
  top: 90px;
}