.progress-screen {
    background-color: transparent;
    background-image: url('../images/glassFrameFullBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    overflow: auto;
    z-index: 0;
    /* width: auto; */
}

.progress-screen .overlay-background {
    background-color: #babfaf;
    position: absolute;
    margin-top: 96px;
    height: fit-content;
    width: 90vw;
    top: 0px;
    left: 50px;
}
